/* resets */
* {
	box-sizing: border-box;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: -2em;
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
	font-size: 1em;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.display {
	display: block;
}

.hide {
	display: none;
}

/* element-wide adjustements */
:root {
	--primary-yellow: #494027;
	--fill-yellow: #ffd23c;
	--accent-yellow: #4c4324;
	--primary-blue: #81a4cf;
	--heading-blue: #09376f;
	--bgc: #f5f5ee;
	--font-color: #2e3844;
}

body {
	margin: 0 auto 0 auto;
	background-color: var(--bgc);
	font-size: 1.15rem;
	color: var(--font-color);
	font-family: 'Nunito', sans-serif;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 0.25rem;
	color: var(--primary-yellow);
}

h2 {
	font-size: 1.75rem;
	font-weight: 700;
	margin-bottom: 0.25rem;
	color: var(--heading-blue);
}

h3 {
	font-size: 1.35rem;
	margin-bottom: 0.1rem;
	font-weight: 600;
}

a, a:visited {
	text-decoration: none;
	color: var(--accent-yellow);
	font-weight: bold;
}

a:hover {
	color: var(--fill-yellow);
}

img {
	max-width: 100%;
}

hr {
	border: none;
	background-color: #cdcbcb;
	height: 1px;
}

footer {
	margin: 1rem;
	text-align: center;
}


/* class adjustments */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 2px solid black; */
	gap: 1em;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/WVOw61D.webp);

	background-color: var(--primary-yellow);
	background-repeat: no-repeat;
	background-size: cover;
	height: 6em;
}

.logoBox {
	width: 16.5%;
	margin-left: 1rem;
	/* z-index: 1; */

}

.logoLink {
	height: 100%;
	display: block;

}

.newline {
	display: none;
}

.logoBox img {
	max-height: 5rem;

}


.searchbox {
	width: 45%;
	margin-right: 1.5rem;
}


.search {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: center;
}

#searchField {
	border: none;
	padding: 0.5rem;
	border-radius: 10px;
	flex-grow: 1;
	color: gray;
}
.search label{
	display:none;
}

.searchButton {
	width: 2rem;
	height: 2rem;
	background-color: var(--primary-blue);
	border: none;
	padding: 0.5rem;
	border-radius: 50%;
}

.searchButton:hover {
	cursor: pointer;
}

.profileButton {
	background-color: var(--primary-blue);
	color: white;
	/* padding: 16px; */
	padding: 0.25rem;
	/* font-size: 16px; */
	max-width: 4em;
	border: none;
	border-radius: 7%;
}

.profile {
	position: relative;
	display: inline-block;
	text-align: right;
	margin-right: 2rem;
}

.profileMenu {
	display: none;
	position: absolute;
	margin: 0 auto;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 0;
	border-radius: 7% 0 7% 7%;
}

.profileMenu a {
	padding: 12px 16px;
	display: block;
}

.profile:hover .profileMenu {
	display: block;
}

.mainBox1, .mainBox2{
	border-radius: 7px;
}
.mainBox {
	display: flex;
	justify-content: space-between;
	margin: 1em 1em 0 1em;
}

.navigation a {
	transition-duration: 0.05s;
	font-size: 1.3rem;
}

.navigation a:hover {
	font-size: 1.35em;
	transition-duration: 0.25s;
}

.mainBox1 {
	background-color: #fff;
	padding: 1em;
}

.mainBox1 li {
	margin-top: 0.25em;
}

.mobileNav {
	display: none;
}

.mainBox2 {
	/* margin: 0 1em; */
	display: block;
	flex-basis: 65%;
	flex-shrink: 0;
	background-color: #fff;
	padding: 1em 2.5em;
}

.mainBox2>div {
	padding-top: 1em;
}

.postImage {
	max-width: 3em;
	/* text-align: right; */
}

.postImage img {
	max-width: 100%;
	border: 1px solid var(--primary-blue);
	background-color: var(--heading-blue)
}

.caption {
	font-size: 0.5em;
	color: #38414e
}

.post {
	display: inline;
	font-size: 1.1em;
}

.postHead {
	display: flex;
	justify-content: space-between;

}

.postTitle {
	max-width: 80%;
	margin-top: 1rem;
}

.postImage {
	margin-bottom: 1rem;
}

.mainBox1, .mainBox3 {
	/* flex: 0 0 auto; */
	width: 16.5%
}

.navigation a {
	display: block;
}

.adspace {
	background-color: #efefef;
	margin: 0 auto;
	text-align: center;
	padding: 5em 2em;
	margin-bottom: 1rem;
}

/* testing zone */

@media only screen and (max-width: 800px) {
	.header {
		flex-wrap: wrap;
		margin-bottom: 2rem;
		height: auto;
	}

	.newline {
		display: block;
	}

	.header {
		gap: 0;
		margin-bottom: 0;
	}

	.logoBox, .newline, .searchbox {
		width: 100%;
		display: block;
		/* max-height: 3rem; */
		padding: 0;
		margin: 0;
		/* margin: 1rem; */
		/* margin-bottom: 2rem; */
	}

	.logoBox, .searchbox {
		text-align: center;
	}

	.logoBox {
		margin-top: 2rem;
		margin-right: 1.5rem;
	}

	.logoLink img {
		max-height: 2.5rem;
	}

	.searchbox {
		margin-inline: 2rem;
		margin-block: 1rem;
	}

	.profile {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1rem 1rem 0 0;
	}

	.postImage {
		/* display: none; */
		margin: 1rem 1rem 0 0;
	}

	.mainBox {
		flex-wrap: wrap;
		margin: 0 0.25rem;
	}

	.mainBox1, .mainBox2, .mainBox3 {
		width: 100%;
		flex-basis: 100%;
	}

	.mainBox1 {
		background: none;
	}

	.navigation {
		text-align: center;
	}

	.mainBox1 {
		order: 1;
		margin-bottom: 1rem;
	}

	.mainBox2 {
		order: 3;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.mainBox3 {
		order: 2;
		display: flex;
		overflow: hidden;
	}

	/* main{display:none;} */
	.mobileNav {
		display: block;
		margin: 0 auto;
		text-align: center;

	}

	.mobileButton {
		width: 85%;
		height: 3rem;
		background-color: var(--fill-yellow);
		border: none;
		cursor: pointer;
		border-radius: 7px;
	}

	.mobileButton:hover {
		background-color: #cca831;
	}

	.mobileButton:active {
		box-shadow: 0 2px 3px  rgba(44, 42, 39, 0.4);
		transform: translateY(2px);
		scale: .98;
	}

	.mobileButton img {
		width: 2rem;
	}

	.adspace {
		min-width: 2rem;
		gap: 0.25rem;
	}
}