@use "../sass/abstracts/mixins.scss";

.main {
	padding-block: 2rem;
	@include mixins.breakpoint(tablet) {
		padding-block: 2.25rem;
	}
	@include mixins.breakpoint(laptop) {
		padding-block: 2.75rem;
	}
	@include mixins.breakpoint(desktop) {
		padding-block: 3rem;
	}
}
